<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
</head>

<body>
    <dic class="main-content">
        {{>header}}
        <p>This is a help text!</p>
    </dic>

    {{>footer}}
</body>

</html>